@{
    ViewData["Title"] = "Home Page";
}

<div class="text-Left">
    <h1 class="display-3">Welcome To BhaiVerse</h1>
    <p> Here You will learn about the Bhai of Indian Cinema </p>
    <h2>Sallu Bhai</h2>
     <img src = "https://th.bing.com/th/id/OIP.zAFHDGzzd7NfhYQKEVK1sAHaD8?w=340&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7"> 
</div>

