@{
    ViewData["Title"] = "Home Page";
}

<div class="text-Left">
    <h1 class="display-3">Welcome To BhaiVerse</h1>
    <p> Here You will learn about the Bhai of Indian Cinema </p>
    <h2>Sallu Bhai</h2>
    @* <img src = "images/salllu.jpg"> *@
</div>

